---
Checks:          '*,
                  -llvm-*,-llvmlibc-*,
                  -fuchsia-*,-google-*,-zircon-*,-abseil-*,
                  -altera-struct-pack-align,
                  -modernize-use-trailing-return-type,
                  -hicpp-uppercase-literal-suffix,
                  -bugprone-forward-declaration-namespace,
                  -readability-named-parameter,
                  -readability-redundant-access-specifiers,
                  -readability-uppercase-literal-suffix'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
CheckOptions:
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
    value:           'true'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value:           '1;2;3;1000;1000000;8388607;'  # 0x7FFFFF
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
    value:           '1.0;100.0;1000.0;'

  - key:             readability-magic-numbers.IgnorePowersOf2IntegerValues
    value:           'true'
  - key:             readability-magic-numbers.IgnoredIntegerValues
    value:           '1;2;3;1000;1000000;8388607;'  # 0x7FFFFF
  - key:             readability-magic-numbers.IgnoredFloatingPointValues
    value:           '1.0;100.0;1000.0;'

  - key:             hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value:           'true'
